<div class="footer mb-0 d-flex justify-content-between">
    <div class="uno">
        <h3 class="philosopher text-black">LINK UTILI</h3>
        <a class="text-black" href="@Url.Action("Index", "Book")">Home</a>
       
    </div>
    <div class="due disappear-on-media">
        <h3 class="philosopher">NEWSLETTER</h3>
        <form>
            <input type="email" placeholder="Inserisci la tua email">
            <br>
            <button type="button" class="btn btn-lg-r text-white">Iscriviti ora</button>
        </form>
    </div>
    <div class="tre">
        <h3 class="philosopher">DOVE SIAMO</h3>
        <p class="mb-0"> GenerationItaly</p>
    </div>

</div>