<div class="footer mb-0">
    <div class="uno">
        <h3>LINK UTILI</h3>
       <a href="#">Home</a>
        <a href="#">Contatti</a>
        <a href="#">Servizi</a>
    </div>
    <div class="due">
        <h3>NEWSLETTER</h3>
        <form>
            <input type="email" placeholder="Inserisci la tua email">
            <br>
            <button type="button" class="btn btn-outline-light">Iscriviti ora</button>
        </form>
    </div>
    <div class="tre">
        <h3>DOVE SIAMO</h3>
        <p class="mb-0"> Via Alessandro Magno 26<br>ROMA, IT</p>
    </div>

</div>