 <!--navbar-->
<nav class=" navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="~/css/PHOTO-2023-06-06-14-34-00-removebg-preview.png" width="65px" height="60px" alt="ladra di libri">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="btn btn-lg-r" href="@Url.Action("Index","Home")">HOME</a>
                <a class="btn btn-lg-n" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    GESTISCI
                </a>
                <div class="mt-4">   <partial name="_LoginPartial" /></div>
             
            
            </div>
        </div>
    </div>
</nav>

<!--corpo dell'offcanvas-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title pt-3" id="offcanvasExampleLabel">Gestisci i tuoi libri</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">


        <ul>

            <a href="@Url.Action("Create","Book")"> <button type="button" class="btn mb-3">Aggiungi un libro</button></a>
       <br />
        <button type="button" class="btn mt-3">Aggiungi una categoria</button>
                    
         </ul>
            
       
    </div>
</div>