<div class="card" style="width: 18rem;">
    <img src="https://www.letture.org/wp-content/uploads/2021/11di-una-ladra-di-libri-markus-zusak-copertina.jpeg" class="card-img-top" alt="ladra di libri">
    <div class="card-body">
        <h5 class="card-title">Storia di una ladra di libri</h5>
        
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Durante l'ascesa del nazismo e il perpetrarsi degli orrori della seconda guerra mondiale in Germania,
            la giovane Liesel Meminger trova conforto rubando libri per condividerli con gli altri,
            mentre i genitori adottivi nascondono un fuggitivo ebreo in casa
        </li>
        
    </ul>
    <div class="card-body">
        <p>25&euro;</p>
        <button type="button" class="btn btn-light">Acquista ora</button>
    </div>
</div>