<h1 class="text-white text-center mt-5">Home Page</h1>


<div class="container-carta">
    <div class="carta col-4">
        <div class="avanti"></div>
        <div class="dietro border borders">
            <h1>Storia di una ladra di libri</h1>
            <p>
                Il film racconta la vicenda di Liesel,
                una ragazzina analfabeta che viene affidata dalla madre, incapace di accudirla,
                ad Hans (Geoffrey Rush) e Rosa (Emily Watson), coppia di genitori adottivi.
            </p>
            <div class="row bottoni">
                <div class="col-4">
                      <button type="button" class="btn btn-primary btn-sm modifica">Modifica</button>
                </div>

                <div class="col-4">
                      <button type="button" class="btn btn-secondary btn-sm elimina">Elimina</button>
                </div>

                <div class="col-4">
                    <button type="button" class="btn btn-secondary btn-sm dettagli ">Dettagli</button>
                </div>
               
            </div>
        </div>
</div>