<h1 class="text-white text-center mt-5">Home Page</h1>


<div class="container-carta">
    <div class="carta col-4">
        <div class="avanti"></div>
        <div class="dietro border borders">
            <h1>Storia di una ladra di libri</h1>
            <p>
                Il film racconta la vicenda di Liesel,
                una ragazzina analfabeta che viene affidata dalla madre, incapace di accudirla,
                ad Hans (Geoffrey Rush) e Rosa (Emily Watson), coppia di genitori adottivi.
            </p>
    <div class="row bottoni">
        <button type="button" class="btn btn-primary btn-sm modifica col-4 mx-1">Modifica</button>
        <button type="button" class="btn btn-secondary btn-sm elimina col-4 mx-1">Elimina</button>
        <button type="button" class="btn btn-secondary btn-sm dettagli col-4 ">Dettagli</button>
        </div>
    </div>
</div>