

<div class="container m-4">
   
    <div class="row">
        <div class="col-md-4">
            <section>
                <img src="https://blog.hubspot.com/hubfs/books-every-aspiring-ceo-should-read.jpg" class="shadow-lg rounded" alt="Book image"</img>
            </section>
        </div>

        <div class="col-md-6 col-md-offset-2">
            <section>
               
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}