<h1 class="text-white text-center mt-5">Home Page</h1>


<div class="container-carta">
    <div class="carta">
        <div class="avanti"></div>
        <div class="dietro">
            <h1>Storia di una ladra di libri</h1>
            <p>
                Il film racconta la vicenda di Liesel,<br>
                una ragazzina analfabeta che viene affidata dalla madre, incapace di accudirla,<br>
                ad Hans (Geoffrey Rush) e Rosa (Emily Watson), coppia di genitori adottivi.
            </p>
        <button type="button" class="btn btn-primary btn-sm">Modifica</button>
        <button type="button" class="btn btn-secondary btn-sm">Elimina</button>
        <button type="button" class="btn btn-secondary btn-sm">Dettagli</button>
    </div>
</div>