@using Project_Work_Libreria.Models.ModelForViews;
@model PurchaseData_Book


<div class="container login">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-6 m-auto mt-5">
            <h1 class="mb-3">Riepilogo acquisto</h1>
            <div class="border borders rounded-3 p-3">
            <form asp-controller="PurchaseData" asp-action="Create" method="post" asp-route-id="@Model.Book.Id" class="mt-2 py-3">
                @Html.AntiForgeryToken()
            
              

                <div class="mb-3">
                    <label asp-for="PurchaseData.Quantity" class="form-label">Quantità</label>
                    <input asp-for="PurchaseData.Quantity" type="number" class="form-control px-5" required>
                    <span asp-validation-for="PurchaseData.Quantity" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-n">Salva</button>
            </form>
            </div>
        </div>
    </div>
</div>