@model List<Book_ListBookCategories>
@using Project_Work_Libreria.Models.ModelForViews;


    <h1 class="text-center mt-4">La tua libreria</h1>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/513I8IpVwTL.jpg" class="card-img-top" alt="ladra di libri">
                <div class="card-body">
                    <h5 class="card-title">Storia di una ladra di libri</h5>
        
                </div>
                <ul class="list-group list-group-flush">
                    <p class="ps-2 pe-2 pt-2">
                        È un romanzo storico che parla di una ragazzina di nome Liesel Meminger che vive nel 1939 nella Germania nazista con la sua famiglia adottiva.
                        Liesel non sa né leggere né scrivere, ma grazie a Hans, il suo padre adottivo scoprirà il suo più grande amore: i libri.
                    </p>
                </ul>
                <div class="card-body d-flex justify-content-evenly">
                    <span class="material-icons-outlined bg-danger rounded">
                    <a href="#" class="card-link text-dark">delete</a>
                    </span>
                    <span class="material-icons-outlined bg-warning rounded">
                    <a href="#" class="card-link text-dark">edit</a>
                     </span>
                </div>
            </div>
        </div>
     </div>
</div>