@model List<Book>

<div class="card" style="width: 18rem;">
    <img src="https://kbimages1-a.akamaihd.net/f616fb67-483a-4baimo-stilton-22-the-secret-of-cacklefur-castle.jpg" class="card-img-top" alt="Geronimo">
    <div class="card-body">
        <h5 class="card-title">Geronimo Stilton: The secret of Cacklefur Castle</h5>
        
    </div>
    <ul class="list-group list-group-flush">
        <p>
            Un bel viaggio in Scozia?! Perché no! In motocicletta?! Fantastico!!!
            Le Tea Sisters non si tirano certo indietro.
            Un antichissimo castello scozzese le attende per svelare un segreto che lo salverà dalla distruzione.
        </p>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">🗑</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
