@model List<Book>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/513I8IpVwTL.jpg" class="card-img-top" alt="ladra di libri">
                <div class="card-body">
                    <h5 class="card-title">Storia di una ladra di libri</h5>
        
                </div>
                <ul class="list-group list-group-flush">
                    <p>
                        È un romanzo storico che parla di una ragazzina di nome Liesel Meminger che vive nel 1939 nella Germania nazista con la sua famiglia adottiva.
                        Liesel non sa né leggere né scrivere, ma grazie a Hans, il suo padre adottivo scoprirà il suo più grande amore: i libri.
                    </p>
                </ul>
                <div class="card-body">
                    <span class="material-icons-outlined">
                    <a href="#" class="card-link">delete</a>
                    </span>
                    <span class="material-icons-outlined">
                    <a href="#" class="card-link">edit</a>
                     </span>
                </div>
            </div>
        </div>
     </div>
</div>