@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


@media (max-width:991px){
    #border{
       border-top:1px solid white; 
       
    }
}

@media(min-width:991px){
    #border{
        border-left:1px solid white;
    }
}
html {
  position: relative;
  min-height: 100%;
}

.navbar {
    background-image: linear-gradient(to right, #FFFFFF 0%, #9cc4cc 100%);
}

body {
    margin-bottom: 0px;
    background: url('/img/Progetto senza titolo.jpg');
    
    background-size:cover;
}

/*main {
  margin:0 auto;
    
}*/


/*bottoni larghi*/

.btn-lg-n {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 120px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,.16),-10px -10px 10px -1px rgba(255,255,255, .7);
}

.btn-lg-r {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 120px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,.16), inset -10px -10px 10px -1px rgba(255,255,255, .7);
}

/*bottoni meno larghi*/
.btn-n {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,.16),-10px -10px 10px -1px rgba(255,255,255, .7);
}

.btn-r {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #ed0000;
    box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,.16), inset -10px -10px 10px -1px rgba(255,255,255, .7);
}

.card {
    justify-content: center;
    width: 300px;
    margin-left:20px;
    margin-right:20px;

    
    
    
}

.btn:hover {
    background-image: linear-gradient(to top, #FFFFFF 0%, #fccc94 100%);
    color:#000;
}

.offcanvas {
    background-image: linear-gradient(to bottom , #FFFFFF 0%, #fccc94 100%);

}

.bianco {
    color: white;
}



.borders {
   
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(25px);
    
    

}

.footer {
    background-image: linear-gradient(to bottom left, #FFFFFF 0%, #98c8c8 100%);
    margin-top: 47px;
    width: 100%;
    padding: 100px 15%;
    display: flex;
   
}

.footer div {
    text-align: center;
}

.due {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.uno a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-block: 40px;
}

.update {
    margin-top: 47px;
}



/*.container-carta {
    width: 270px;
    height: 340px;
    perspective: 500px;
    margin-top: 47px;
    margin-bottom: 47px;
    margin-left: 80px;
    
    
}
 .container-carta:hover > .carta {
        cursor: pointer;
        transform: rotateY(180deg);

 }

.carta {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    justify-content: center;
}

.avanti,
.dietro {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    
}

.avanti {
    background-size: cover;
    background-position: center;
}

.dietro {
    background-color: #98c8c8;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    background: url(https://st2.depositphotos.com/3538001/7686/i/600/d6860211-stock-photo-frosted-glass-white-color.jpg);
    background-size: cover;
    position: relative;
}


.modifica,
.elimina,
.dettagli{
    background-color: #9cc4cc;
    word-spacing:normal;
}

*/


/*bottoni admin*/
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
}

    button:hover {
        box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025), 8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035), 17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045), 36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055), 99px 72px 143px rgba(0, 0, 0, 0.08);
    }

