* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
    background-image: linear-gradient(to right, #FFFFFF 0%, #9cc4cc 100%);
}

body {
    margin-bottom: 0px;
    background: url(storia-di-una-ladra-di-libri-markus-zusak-copertina.webp);
    
    background-size:cover;
}

/*bottoni larghi*/

.btn-lg-n {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 120px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,.16),-10px -10px 10px -1px rgba(255,255,255, .7);
}

.btn-lg-r {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 120px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,.16), inset -10px -10px 10px -1px rgba(255,255,255, .7);
}

/*bottoni meno larghi*/
.btn-n {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,.16),-10px -10px 10px -1px rgba(255,255,255, .7);
}

.btn-r {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #ed0000;
    box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,.16), inset -10px -10px 10px -1px rgba(255,255,255, .7);
}

.card {
    justify-content: center;
    
    
}

.btn:hover {
    background-image: linear-gradient(to top, #FFFFFF 0%, #fccc94 100%);
}

.offcanvas {
    background-image: linear-gradient(to bottom , #FFFFFF 0%, #fccc94 100%);

}

.bianco {
    color: white;
}



.borders {
   
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    
    

}

.footer {
    background-image: linear-gradient(to bottom left, #FFFFFF 0%, #98c8c8 100%);
    margin-top: 47px;
    width: 100%;
    padding: 100px 15%;
    display: flex;
   
}

.footer div {
    text-align: center;
}

.due {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.uno a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top; 20px;
    margin-block: 40px;
}

.update {
    margin-top: 47px;
}



.container-carta {
    width: 350px;
    height: 500px;
    perspective: 800px;
    margin-top: 47px;
    margin-bottom: 47px;
    margin-left: 150px;
    
}
 .container-carta:hover > .carta {
        cursor: pointer;
        transform: rotateY(180deg);

 }

.carta {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.avanti,
.dietro {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    
}

.avanti {
    background:url(storia-di-una-ladra-di-libri-markus-zusak-copertina.webp);
    background-size: cover;
    
}

.dietro {
    background-color: #98c8c8;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    background: url(https://st2.depositphotos.com/3538001/7686/i/600/d6860211-stock-photo-frosted-glass-white-color.jpg);
    background-size: cover;
    position: relative;
}


.bottoni {
   
}


