

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar {
    background-image: linear-gradient(to right, #FFFFFF 0%, #98c8c8 100%);
}

body {
    margin-bottom: 60px;
   
}

/*bottoni larghi*/

.btn-lg-n {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 120px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,.16),-10px -10px 10px -1px rgba(255,255,255, .7);
}

.btn-lg-r {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
    width: 120px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,.16), inset -10px -10px 10px -1px rgba(255,255,255, .7);
}

/*bottoni meno larghi*/
.btn-n {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #00a037;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,.16),-10px -10px 10px -1px rgba(255,255,255, .7);
}

.btn-r {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    width: 90px;
    background-color: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #ed0000;
    box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,.16), inset -10px -10px 10px -1px rgba(255,255,255, .7);
}

.card {
    justify-content: center;
    
    
}

.btn:hover {
    background-image: linear-gradient(to top, #FFFFFF 0%, #fccc94 100%);
}

.offcanvas {
    background-image: linear-gradient(to bottom , #FFFFFF 0%, #fccc94 100%);

}

.container {
   
}

